// global
$mainColor: #5f9de9;
$themeColor: #4b96ef;
$normalColor: #0f90d2;
$lightColor: #60b8f7;

// alertColor
$alertColor: #ff0101;

// Border
$baseBorderColor: #ddd;

// green
$greenColor: #39c973;
$greenColor1: #3aca75;
$greenColor2: #83dd47;

// font color
$title-fontColor: #000000;
$normal-fontColor: #656565;
$light-fontColor: #676767;
$mainTextColor: #666666;

// sidebar
$menuText: #a2aab5;
$menuActiveText: #609ee9;
$subMenuActiveText: #609ee9; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #242d3c;
$menuHover: #1d2530;

$subMenuBg: #242d3c;
$subMenuHover: #1d2530;

$sideBarWidth: 268px;

// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
	menuText: $menuText;
	menuActiveText: $menuActiveText;
	subMenuActiveText: $subMenuActiveText;
	menuBg: $menuBg;
	menuHover: $menuHover;
	subMenuBg: $subMenuBg;
	subMenuHover: $subMenuHover;
	sideBarWidth: $sideBarWidth;
}
