// global
$mainColor: #609ee9;
$normalColor: #0f90d2;
$lightColor: #60b8f7;

$mainTextColor: #666666;
$baseBorderColor: #ddd;

//Border
$baseBorderColor: #ddd;

// green
$greenColor: #3aca75;

// font color
$title-fontColor: #000000;
$normal-fontColor: #656565;
$light-fontColor: #676767;

// sidebar
$menuText: #a2aab5;
$menuActiveText: #609ee9;
$subMenuActiveText: #609ee9; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #242d3c;
$menuHover: #1d2530;

$subMenuBg: #242d3c;
$subMenuHover: #1d2530;

$sideBarWidth: 268px;

// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
