// sidebar
$menuText: #a2aab5;
$menuActiveText: #5791d1;
$subMenuActiveText: #ffffff; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #242d3c;
$menuHover: #263445;

$subMenuBg: #242d3c;
$subMenuHover: #001528;

$sideBarWidth: 268px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
